<div class="col-md-11 user-container" style="margin-top:1%; margin-bottom:1%;margin-left:4%;border:2px solid">
    <h2 class="text-center" style="margin-top:1%">Update Item<button class="btn btn-info" style="float:right" (click)="backToList()">Back to list</button></h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <!--<div class="form-group">
            <label for=hotelId>HotelId:</label>
            <input type=text formControlName=hotelId placeholder="a" name=hotelId class="form-control" id=hotelId>
        </div>-->
        <div class="col-xs-2">
            <label for="hotelId">Hotel</label>
            <select formControlName="hotelId" class="form-control">
                <option *ngFor="let hotel of Hotels" [value]="hotel.hotel_Id">{{hotel.hotelName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for=itemName>ItemName:</label><input type=text formControlName=itemName placeholder="a" name=itemName class="form-control" id=itemName>
        </div>
        <!--<div class="form-group">
            <label for=categoryId>CategoryId:</label>
            <input type=text formControlName=categoryId placeholder="a" name=categoryId class="form-control" id=categoryId>
        </div>-->
        <div class="col-xs-2">
            <label for="categoryId">Category</label>
            <select formControlName="categoryId" class="form-control" (change)="changeSubCategory($event)">
                <option *ngFor="let category of Categories" [value]="category.categoryId">{{category.categoryName}}</option>
            </select>
        </div>
        <!--<div class="form-group">
            <label for=subCategoryId>SubCategoryId:</label>
            <input type=text formControlName=subCategoryId placeholder="a" name=subCategoryId class="form-control" id=subCategoryId>
        </div>-->
        <div class="col-xs-2">
            <label for="subCategoryId">Sub Category</label>
            <select formControlName="subCategoryId" class="form-control" required>
                <option *ngFor="let subCategory of SubCategories" [value]="subCategory.subCategoryId">{{subCategory.subCategoryName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for=ingrediants>Ingrediants:</label>
            <input type=text formControlName=ingrediants placeholder="a" name=ingrediants class="form-control" id=ingrediants>
        </div>
        <div class="form-group">
            <label for=sellingPrice>SellingPrice:</label>
            <input type=text formControlName=sellingPrice placeholder="a" name=sellingPrice class="form-control" id=sellingPrice>
        </div>
        <div class="form-group">
            <label for=ourPrice>OurPrice:</label>
            <input type=text formControlName=ourPrice placeholder="a" name=ourPrice class="form-control" id=ourPrice>
        </div>
        <div class="form-group">
            <label for=preparationtime>Preparationtime:</label>
            <input type=text formControlName=preparationtime placeholder="a" name=preparationtime class="form-control" id=preparationtime>
        </div>
        <div class="form-group">
            <label for=itemAvailableTime>ItemAvailableTime:</label>
            <input type=text formControlName=itemAvailableTime placeholder="a" name=itemAvailableTime class="form-control" id=itemAvailableTime>
        </div>

        <button class="btn btn-success" style="width:10%;margin-top:2%;margin-bottom:2%">Update</button>
    </form>
</div>