<hr />
<div style="background-color:lightgray;height:60px;padding-top:15px;padding-left:2%;padding-right:2%">
    <button class="btn btn-info" style="Margin-left:5px;background-color:navyblue" (click)="navToList(1)">Category</button>
    <button class="btn btn-info" style="Margin-left:5px;background-color:navyblue" (click)="navToList(2)">Sub Category</button>
    <button class="btn btn-info" style="Margin-left:5px;background-color:navyblue" (click)="navToList(3)">Hotel</button>
    <button class="btn btn-info" style="Margin-left:5px;background-color:navyblue" (click)="navToList(4)">Item</button>
</div>
<hr />
<ng-http-loader></ng-http-loader>
<router-outlet></router-outlet>
