<div class="col-md-11 user-container" style="margin-left:5%;margin-top:2%">
    <h2 style="margin: auto"> Category Details</h2>
    <button class="btn btn-danger" style="width:100px" (click)="addCategory()"> Add Category</button><br />
 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categoryData">
                <td>{{category.categoryName}}</td>
                <td>{{category.isActive | actInact}}</td>
                <td style="text-align:center">
                    <button class="btn btn-primary" (click)="viewCategory(category)"> View</button>
                    <button class="btn btn-success" (click)="editCategory(category)" style="margin-left: 20px;"> Edit</button>
                    <button class="btn btn-primary" (click)="deleteCategory(category)" style="margin-left: 20px;"> Activate/Inactivate</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>