
<div class="col-md-11 user-container" style="margin-top:1%; margin-bottom:1%;margin-left:4%;border:2px solid">
    <h2 class="text-center" style="margin-top:1%">Add Hotel<button class="btn btn-info" style="float:right" (click)="backToList()">Back to list</button></h2>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group" style="width:48%;float:left">
            <label for="hotel_Name">Hotel Name:</label>
            <input required type="text" formControlName="hotel_Name" placeholder="Hotel Name" name="hotel_Name" class="form-control" id="hotel_Name">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="owner_Name">Owner Name:</label>
            <input required type="text" formControlName="owner_Name" placeholder="Owner Name" name="owner_Name" class="form-control" id="owner_Name">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="owner_Address">Owner Address:</label>
            <input type="text" formControlName="owner_Address" placeholder="Owner Address" name="owner_Address" class="form-control" id="owner_Address">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="hotel_Address">Hotel Address:</label>
            <input required type="text" formControlName="hotel_Address" placeholder="Hotel Address" name="hotel_Address" class="form-control" id="hotel_Address">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="contactPhone1">Contact Phone1:</label>
            <input required type="text" formControlName="contactPhone1" placeholder="Contact Phone1" name="contactPhone1" class="form-control" id="contactPhone1">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="contactPhone2">Contact Phone2:</label>
            <input required type="text" formControlName="contactPhone2" placeholder="Contact Phone2" name="contactPhone2" class="form-control" id="contactPhone2">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="contactPhone3">Contact Phone3:</label>
            <input type="text" formControlName="contactPhone3" placeholder="Contact Phone3" name="contactPhone3" class="form-control" id="contactPhone3">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="contactPhone4">Contact Phone4:</label>
            <input type="text" formControlName="contactPhone4" placeholder="Contact Phone4" name="contactPhone4" class="form-control" id="contactPhone4">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="openingTime">Opening Time:</label>
            <input required type="text" formControlName="openingTime" placeholder="Opening Time" name="openingTime" class="form-control" id="openingTime">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="closingTime">Closing Time:</label>
            <input required type="text" formControlName="closingTime" placeholder="Closing Time" name="closingTime" class="form-control" id="closingTime">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="hotelType">Hotel Type:</label>
            <input required type="text" formControlName="hotelType" placeholder="Hotel Type" name="hotelType" class="form-control" id="hotelType">
        </div>
        <div class="form-group" style="width:48%;float:right">
            <label for="safetyCertificateNumber">Safety Certificate Number:</label>
            <input required type="text" formControlName="safetyCertificateNumber" placeholder="Safety Certificate Number" name="safetyCertificateNumber" class="form-control" id="safetyCertificateNumber">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="lattitude">Lattitude:</label>
            <input required type="text" formControlName="lattitude" placeholder="Lattitude" name="lattitude" class="form-control" id="lattitude">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="longitude">Longitude:</label>
            <input required type="text" formControlName="longitude" placeholder="Longitude" name="longitude" class="form-control" id="longitude">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="description">Description:</label>
            <input type="text" formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="bank_Name">Bank Name:</label>
            <input required type="text" formControlName="bank_Name" placeholder="Bank Name" name="bank_Name" class="form-control" id="bank_Name">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="iFSC_Code">IFSC Code:</label>
            <input required type="text" formControlName="iFSC_Code" placeholder="IFSC Code" name="iFSC_Code" class="form-control" id="iFSC_Code">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="gST">GST:</label>
            <input required type="text" formControlName="gST" placeholder="GST" name="gST" class="form-control" id="gST">
        </div>
        <div class="form-group" style="width:48%;float:left">
            <label for="workingDays">WorkingDays:</label><br />
            <div *ngFor="let day of DaysArray; let i=index" style="float:left;margin-left:15px">
                <label>
                    <input type="checkbox" id="{{day.value}}"  [value]="day.value" (change)="onCheckboxChange($event)" />
                    {{day.name}}
                </label>
            </div>
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="email">Email:</label>
            <input required type="text" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="landMark">LandMark:</label>
            <input type="text" formControlName="landMark" placeholder="LandMark" name="landMark" class="form-control" id="landMark">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="website">Website:</label>
            <input type="text" formControlName="website" placeholder="Website" name="website" class="form-control" id="website">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="hotelRating">HotelRating:</label>
            <input type="text" formControlName="hotelRating" placeholder="HotelRating" name="hotelRating" class="form-control" id="hotelRating">
        </div>

        <div class="form-group" style="width:48%;float:right">
            <label for="isParkingAvailable">IsParkingAvailable:</label>
            <input required type="text" formControlName="isParkingAvailable" placeholder="IsParkingAvailable" name="isParkingAvailable" class="form-control" id="isParkingAvailable">
        </div>

        <div class="form-group" style="width:48%;float:left">
            <label for="isOutdoorAvailable">IsOutdoorAvailable:</label>
            <input required type="text" formControlName="isOutdoorAvailable" placeholder="IsOutdoorAvailable" name="isOutdoorAvailable" class="form-control" id="isOutdoorAvailable">
        </div>
        <div class="form-group" style="width:100%;float:left;border:solid 1px black;height:138px;vertical-align:middle">
            <label for="image">Image:</label>
            <input required type="text" formControlName="image" placeholder="IsOutdoorAvailable" name="image" class="form-control" id="image" hidden>
            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
            <span *ngFor="let n of cardImageBase64arr">
                <button title="Remove Image" style="background-color:red;font-size:medium;font-weight:bold;color:white; border-radius:50%" type="button" (click)="DeleteImage(n)">X</button>
                <img [src]="n" style="height:128px;width:128px;cursor:pointer;margin-left:5px" (click)="ImageClick(n)" />
            </span>
        </div>
        <button class="btn btn-success" style="width:10%; margin-left:46%;margin-top:2%;margin-bottom:2%">Add</button>
    </form>
    <input type="text" id="demo" />
    <input type="button" onclick="getLocation()" value="get" />

</div>
