<div class="col-md-11 user-container" style="margin-left:5%;margin-top:2%">
    <h2 style="margin: auto"> Hotel Details</h2>
    <button class="btn btn-danger" style="width:100px" (click)="addHotel()"> Add Hotel</button><br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hotel Name</th>
                <th>Hotel Type</th>
                <th>Hotel Address</th>
                <th>Email</th>
                <th>Website</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotelData">
                <td>{{hotel.hotelName}}</td>
                <td>{{hotel.hotelType}}</td>
                <td>{{hotel.hotelAddress}}</td>
                <td>{{hotel.email}}</td>
                <td>{{hotel.website}}</td>
                <td>{{hotel.isActive | actInact }}</td>
                <td style="text-align:center">
                    <button class="btn btn-primary" (click)="viewHotel(hotel)"> View</button>
                    <button class="btn btn-success" (click)="editHotel(hotel)" style="margin-left: 20px;"> Edit</button>
                    <button class="btn btn-primary" (click)="deleteHotel(hotel)" style="margin-left: 20px;"> Activate/Inactivate</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>