<div class="col-md-11 user-container" style="margin-top:1%; margin-bottom:1%;margin-left:4%;border:2px solid">
    <div>
        <h2 class="text-center" style="margin-top:1%">Update Sub Category<button class="btn btn-info" style="float:right" (click)="backToList()">Back to list</button></h2>
    </div>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="categoryId">Category Id: </label>
            <input type="text" formControlName="categoryId" placeholder="Category Value" name="categoryId" class="form-control" id="categoryId">
        </div>
        <div class="form-group">
            <label for="subCategoryName">Category:</label>
            <input type="text" formControlName="subCategoryName" placeholder="Sub Category Value" name="subCategoryName" class="form-control" id="subCategoryName">
        </div>

        <button class="btn btn-success" style="width:10%; margin-top:2%;margin-bottom:2%">Update</button>
    </form>
</div>